body{
   margin:0;
  font-size: 0;
}

header {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

html{
  margin:0;
  font-size: 0;
}

b {
  color: #6D6E71;
}

input{
  width: 53.5vw;
  font-size: 25px;
  padding: 6px;
  color: #c5c6c8;
  border: 2px solid #c2c6c7;
}

img {
  height: 30px;
  width: 30px;
}


button {
  border-style: none;
}

::placeholder{
  color:#c5c6c8;
}

label{
  font-size: 20px;
  display: inline-block;
}

#checkbox{
    display: flex;
    justify-content: space-around;
    width: 20vw;
    margin: 10px auto;
    margin-bottom: 15px;
}

ul{
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}

select{
  border:none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  outline: none;
  font-weight: bolder;
  color:#939598;
}

textarea{
  font-family: 'Open Sans', sans-serif;
  border:none;
  outline: none;
  resize: none;

}

main{
  width: 100%;
  height: 377px;
  background-color: #E5F3F2;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  
}

.inputForm{
  width: 100%;
}

#ideaTemplate{
  display: none;
}

p{
  font-size: 18px;
  color:#939598;
}

.firstLine{
  display:flex;
}


.wrapper{
  width: 55%;
  margin:10px auto;
  margin-top: 0;
}

.ideaHeader {
  color: #00A79D;
  font-size: 70px;
  margin: 0;
}

.titleInput{
  
}

.title{
  font-size: 30px;
  color: #6D6E71;
  font-weight: bold;
  margin:0;
  display: inline-block;
  flex:95%;
}

.bodyInput{
  margin-top: 20px;
  margin-bottom: 20px;
}

.saveButton{
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 7px;
  background-color: #00A79D;
  color: white;
}

.saveButton:hover{
  background-color: #045E55;
}

.inline{
  display: inline-block;
  display: flex;
  justify-content: space-around;
}

.ideaLevel{
  display: inline-block;
  width: 0;
  width: 20px;
}
.genius{
  
}

.plausible{
 
}

.swill{
  
}

.secondSection {
  height: 100%;
  display: block;
  box-sizing: border-box;
  margin-top: 75px;

}

.searchBox {
  margin-bottom: 15px;
}

.newIdeas {
  margin-top: 30px;
  border-bottom: #D1D3D4 solid 3px;
}

.deleteButton {
  flex:5%;
  z-index: 5;
}

.deleteButton:hover {
  content: url('images/delete-hover.svg');
}

.lineThree{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 25px;
}

.upArrow:hover {
  content: url('images/upvote-hover.svg');
}

.downArrow:hover {
  content: url('images/downvote-hover.svg');
}

.quality{
  display:inline-block;
  margin:0;
  font-weight: bolder;
}

.upArrow{
  display:inline-block;
}
.downArrow{
  display: inline-block;
}

.example-body{
  font-size: 25px;
  color:#939598;
  margin: 15px 0 17px 0;
  width: 100%;
}
