body{
   margin:0;
  font-size: 0;
}

header {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

html{
  margin:0;
  font-size: 0;
}

form{
  width: 100%;
}

b {
  color: #6D6E71;
}

main {
  font-family: 'Open Sans', sans-serif;
  background-color: #E5F3F2;
}

input{
  width: 63vw;;
  font-size: 25px;
  padding:10px;
  color:#c5c6c8;
  border:1px solid #c5c6c8;
}

img {
  height: 30px;
  width: 30px;
}

button {
  border-style: none;
}

::placeholder{
  color:#c5c6c8;
}

main{
  width: 100%;
  height: 50vh;
  background-color: #E5F3F2;
  margin: 0;
}

.wrapper{
  width: 65%;
  margin:10px auto;
  height: 100vw;
  margin-top: 0;
}

.ideaHeader {
  color: #00A79D;
  font-size: 70px;
  margin: 0;
}

.titleInput{
  
}

.bodyInput{
  margin-top: 20px;
  margin-bottom: 20px;
}

.saveButton{
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 10px;
  background-color: #00A79D;
  color: white;
}

.secondSection {
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.searchBox {
  margin-top: 40px;
}

.newIdeas {
  margin-top: 20px;
  border-bottom: #D1D3D4 solid 2px;
  height: 100%;
}

.linkDelete {
  float: right;
}

.deleteButton:hover {
  content: url('images/delete-hover.svg');
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: flex-end;
}

.upArrow:hover {
  content: url('images/upvote-hover.svg');
}

.downArrow:hover {
  content: url('images/downvote-hover.svg');
}