body{
  margin:0;
  font-size: 0;
}

header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
}

html{
  margin:0;
  font-size: 0;
}

input{
  width: 53.5vw;
  padding: 6px;
  font-size: 25px;
  color: black;
  border: 2px solid #c2c6c7;
}

b{
  color:#6D6E71;
}

img {
  height: 30px;
  width: 30px;
}

button {
  border-style: none;
}

::placeholder{
  color:#c5c6c8;
}

label{
  font-size: 20px;
  display: inline-block;
}

#checkbox{
  width: 20vw;
  margin: 10px auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

p{
  font-size: 18px;
  color:#939598;
}

ul{
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}

select{
  border:none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  outline: none;
  font-weight: bolder;
  color:#939598;
}

textarea{
  font-family: 'Open Sans', sans-serif;
  border:none;
  outline: none;
  resize: none;
}

main{
  width: 100%;
  height: 335px;
  background-color: #E5F3F2;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.inputForm{
  width: 100%;
}

#ideaTemplate{
  display: none;
}

.firstLine{
  display:flex;
}


.wrapper{
  width: 55%;
  margin:10px auto;
  margin-top: 0;
}

.ideaHeader {
  margin: 0;
  color: #00A79D;
  font-size: 70px;
}

.titleInput{
  outline: none;
}

.title{
  margin:0;
  display: inline-block;
  flex:95%;
  font-size: 30px;
  color: #6D6E71;
  font-weight: bold;
}

.bodyInput{
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}

.saveButton{
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 7px;
  background-color: #00A79D;
  color: white;
}

.saveButton:hover{
  background-color: #045E55;
  outline: none;
}

.saveButton:disabled{
 border: 2px solid #bdbfbf;
  background-color: #8e8d8d;
  color: #b1a9a9;
}

.inline{
  display: inline-block;
  display: flex;
  justify-content: space-around;
}

.ideaLevel{
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
}

.secondSection {
  height: 100%;
  display: block;
  box-sizing: border-box;
  margin-top: 75px;
}

.searchBox {
  margin-bottom: 15px;
  outline: none;
}

.newIdeas {
  margin-top: 30px;
  border-bottom: #D1D3D4 solid 3px;
}

.deleteButton {
  flex:5%;
  z-index: 5;
}

.deleteButton:hover {
  content: url('images/delete-hover.svg');
}

.lineThree{
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.upArrow:hover {
  content: url('images/upvote-hover.svg');
}

.downArrow:hover {
  content: url('images/downvote-hover.svg');
}

.quality{
  display:inline-block;
  margin:0;
  font-weight: bolder;
}

.upArrow{
  display:inline-block;
}

.downArrow{
  display: inline-block;
}

.example-body{
  font-size: 25px;
  color:#939598;
  margin: 15px 0 17px 0;
  width: 100%;
}

.hidden {
  display:none;
}

@media only screen and (max-width: 690px) {

.hidden {
    width: 98%;
    padding: 6px;
    font-size: 25px;
    color: black;
    border: 2px solid #c2c6c7;
    display:inline-block;
}   

.first{
  display: none;
}

.wrapper{
  width: 80%;
}

input{
  width: 98%;
}

.ideaHeader{
  font-size: 50px;
}

.saveButton{
      padding: 5px;
}

main{

  height: 294px;
}

.secondSection{
  margin-top: 55px;
}

.lineThree{
width: 240px;
}

}
