html {
  font-size: 0;
  margin:0;
}

header {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

body {
  font-size: 0;
  margin:0;
}

main {
  background-color: #E5F3F2;
  font-family: 'Open Sans', sans-serif;
  height: 335px;
  margin: 0;
  width: 100%;
}

input {
  border: 2px solid #c2c6c7;
  color: black;
  font-size: 25px;
  padding: 6px;
  width: 53.5vw;
}

b {
  color:#6D6E71;
}

img {
  height: 30px;
  width: 30px;
}

button {
  border-style: none;
}

label {
  display: inline-block;
  font-size: 20px;
}

p {
  color:#939598;
  font-size: 18px;
}

ul {
  height: 100%;
  margin:0;
  padding: 0;
  width: 100%;
}

select {
  border:none;
  color:#939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  outline: none;
}

textarea {
  border:none;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  resize: none;
}

::placeholder {
  color:#c5c6c8;
}

#checkbox {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
  margin-bottom: 15px;
  width: 20vw;
}

#ideaTemplate {
  display: none;
}

.inputForm {
  width: 100%;
}

.firstLine {
  display:flex;
}

.wrapper {
  margin:10px auto;
  margin-top: 0;
  width: 55%;
}

.ideaHeader {
  color: #00A79D;
  font-size: 70px;
  margin: 0;
}

.titleInput {
  outline: none;
}

.title {
  color: #6D6E71;
  display: inline-block;
  flex:95%;
  font-size: 30px;
  font-weight: bold;
  margin:0;
}

.bodyInput {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}

.saveButton {
  background-color: #00A79D;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 5px;
  width: 100%;
}

.saveButton:hover {
  background-color: #045E55;
  outline: none;
}

.saveButton:disabled {
  background-color: #8e8d8d;
  border: 2px solid #bdbfbf;
  color: #b1a9a9;
}

.inline {
  display: inline-block;
  display: flex;
  justify-content: space-around;
}

.ideaLevel {
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
}

.secondSection {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin-top: 75px;
}

.searchBox {
  margin-bottom: 15px;
  outline: none;
}

.newIdeas {
  border-bottom: #D1D3D4 solid 3px;
  margin-top: 30px;
}

.deleteButton {
  display: inline-block;
  flex:5%;
  float: right;
  z-index: 5;
}

.deleteButton:hover {
  content: url('images/delete-hover.svg');
}

.lineThree {
  display: flex;
  margin-bottom: 25px;
  width: 300px;
}

.upArrow:hover {
  content: url('images/upvote-hover.svg');
}

.downArrow:hover {
  content: url('images/downvote-hover.svg');
}

.quality {
  display:inline-block;
  font-weight: bolder;
  margin:0;
}

.upArrow {
  display:inline-block;
  margin-bottom: 5px;
  padding-right: 20px;
}

.downArrow {
  display: inline-block;
  margin-right: 20px;
}

.example-body {
  color:#939598;
  font-size: 25px;
  margin: 15px 0 17px 0;
  width: 100%;
}

.hidden {
  display:none;
}

@media only screen and (max-width: 690px) {

main {
  height: 294px;
}  

input {
  width: 98%;
}

.hidden {
    border: 2px solid #c2c6c7;
    color: black;
    display:inline-block;
    font-size: 25px;
    padding: 6px;
    width: 98%;
}   

.first{
  display: none;
}

.wrapper{
  width: 80%;
}

.ideaHeader {
  font-size: 50px;
}

.saveButton {
  padding: 5px;
}

.secondSection {
  margin-top: 55px;
}

.lineThree {
width: 240px;
}

}
