body{
   margin:0;
  font-size: 0;
}

header {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

html{
  margin:0;
  font-size: 0;
}
form{
  width: 100%;
}

b {
  color: #6D6E71;
}

main {
  font-family: 'Open Sans', sans-serif;
  background-color: #E5F3F2;
}

input{
  width: 63vw;;
  font-size: 25px;
  padding:10px;
  color:#c5c6c8;
  border:1px solid #c5c6c8;
}

::placeholder{
  color:#c5c6c8;
}

main{
  width: 100%;
  height: 50vh;
  background-color: #E5F3F2;
  margin: 0;
}

.wrapper{
  width: 65%;
  margin:10px auto;
  height: 100vw;
  margin-top: 0;
}

.idea-header {
  color: #00A79D;
  font-size: 70px;
  margin: 0;
}

.titleInput{
  
}

.bodyInput{
  margin-top: 20px;
  margin-bottom: 20px
}

.second-section {
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.new-ideas {
  
}
.save-button{
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 10px;
  background-color:#00A79D;
  color:white;
}