body{
   margin:0;
  font-size: 0;
}

header {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

html{
  margin:0;
  font-size: 0;
}

form{
  width: 100%;
}

b {
  color: #6D6E71;
}

input{
  width: 53.5vw;
  font-size: 25px;
  padding: 6px;
  color: #c5c6c8;
  border: 2px solid #c2c6c7;
}

img {
  height: 30px;
  width: 30px;
}

h3{
  font-size: 25px;
  color: #6D6E71;
  font-weight: bold;
  margin:0;
  display: inline-block;
  flex:95%;
}

button {
  border-style: none;
}

::placeholder{
  color:#c5c6c8;
}

ul{
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}

main{
  width: 100%;
  height: 330px;
  background-color: #E5F3F2;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  
}

p{
  font-size: 18px;
  color:#939598;
}

.firstLine{
  display:flex;
}


.wrapper{
  width: 55%;
  margin:10px auto;
  height: 100vw;
  margin-top: 0;
}

.ideaHeader {
  color: #00A79D;
  font-size: 70px;
  margin: 0;
}

.titleInput{
  
}

.bodyInput{
  margin-top: 20px;
  margin-bottom: 20px;
}

.saveButton{
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 7px;
  background-color: #00A79D;
  color: white;
}


.genius{}

.plausible{}

.swill{}

.secondSection {
  height: 100%;
  display: block;
  box-sizing: border-box;
  margin-top: 75px;

}

.searchBox {
  margin-bottom: 15px;
}

.newIdeas {
  margin-top: 20px;
  border-bottom: #D1D3D4 solid 2px;
}

.deleteButton {
  flex:5%;
  z-index: 5;
}

.deleteButton:hover {
  content: url('images/delete-hover.svg');
}

.lineThree{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 25px;
}

.upArrow:hover {
  content: url('images/upvote-hover.svg');
}

.downArrow:hover {
  content: url('images/downvote-hover.svg');
}

.quality{
  display:inline-block;
  margin:0;
  font-weight: bolder;
}

.upArrow{
  display:inline-block;
}
.downArrow{
  display: inline-block;
}

